<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	
	<!-- ========================================================================= -->
    <!-- 🍏 ENTERPRISE INFRASTRUCTURE METADATA MATRIX FOR IOS -->
    <!-- ========================================================================= -->
    
    <!-- 👤 1. INFORMATION PROVIDER / AUTHOR DEPLOYMENT -->
    <key>DeveloperName</key>
    <string>Hai Nguyen (hainguyenjc@gmail.com)</string>

    <!-- 🏢 2. CORPORATE COMPANY BRANDING -->
    <key>CompanyName</key>
    <string>Seats Reservation Platform Suite Ltd</string>

    <!-- 🔏 3. LEGAL COPYRIGHT LICENSE CLAIM -->
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Seats Reservation Platform. All Rights Reserved Under org.nlh4j License.</string>

    <!-- 🎨 4. TÊN APP HIỂN THỊ TRÊN MÀN HÌNH ĐIỆN THOẠI IPHONE -->
    <!-- Mặc định Capacitor tự bốc từ file json, nhưng gài cứng ở đây sẽ mang quyền lực tối cao [3.2] -->
    <key>CFBundleDisplayName</key>
    <string>Seats Reservation Management</string>
</dict>
</plist>
